<!---------------- Pharmacy Register ----------------->

<div data-keyboard="false" data-backdrop="static" class="modal fade" id="phreg">
  <div class=" modal-dialog modal-dialog-centered modal-lg">
    <div class=" modal-content">
      <!-- Modal Body -->
      <!-- /////////////Payed Register Form ///////////// -->
      <div class="rtl container">
        <h4 style="padding:10px 10px 5px 10px;color:#007bff;font-family:'Droid-Arabic-Kufi'!important " class="modal-title fontTitleMobile text-center font-weight-bold">تسجيل
          بيانات صيدلية
        </h4>
        
        <form class="form" method="post" accept-charset="UTF-8">
            <div style="margin:10px 10px 0px 10px;" class="row">
            <div class="card text-white bg-primary mb-3 rtl order-first  mobMargPay screenMarg col-md-12 col-xs-12 col-lg-6 ">
              <div style="margin-top:20px;" class="form-group">
                 
                <label class="sr-only" for="exampleInputEmail2">أدخل بريدك وسيتم إرسال رسالة تأكيد لك الأن</label>
                <input [(ngModel)]="answer1" name="phEmail" type="email" class="form-control" placeholder="أدخل بريدك وسيتم إرسال رسالة تأكيد لك الأن"
                  required onfocus="this.placeholder = ''" onblur='this.placeholder="أدخل بريدك وسيتم إرسال رسالة تأكيد لك الأن"'>
              </div>
              <div class="form-group">
                <label class="sr-only" for="phPassword">أدخل كلمة سر</label>
                <input name="phPassword" type="password" class="form-control" placeholder="أدخل كلمة السر" required
                  >
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Confirm Password</label>
                <input name="cPhPassword" type="password" class="form-control" id="cPhPassword" placeholder="أدخل كلمة السر مرة أخري"
                  required >
                <div class="rtl" style="margin-top:15px;">
                  <app-captcha></app-captcha>
                </div>

              </div>

            </div>
            <div class="card text-white bg-primary mb-3 rtl  mobMargPay screenMarg col-md-12 col-xs-12 col-lg-6 ">
              hellllllllo hellllllllo hellllllllo hellllllllo hellllllllo hellllllllo
              hellllllllo hellllllllo hellllllllo hellllllllo hellllllllo hellllllllo
              hellllllllo hellllllllo hellllllllo hellllllllo hellllllllo hellllllllo
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="mx-auto">
              <button style="margin-left:20px; min-width: 100px; font-family:JF-Flat!important " type="button" class="btn btn-danger "
                data-dismiss="modal">إلغاء
              </button>
              <button data-toggle="modal" data-target="#pharmacyNotes" style="min-width: 100px;font-family:JF-Flat!important "
                type="button" class="btn btn-success " data-dismiss="modal">تسجيل
              </button>
            </div>

          </div>
        </form>

      </div>

    </div>