<div style="padding:5%" class="rtl container">
  <h4 style="padding-bottom:5px;color:#007bff;font-family:'Droid-Arabic-Kufi'!important " class="modal-title fontTitleMobile text-center font-weight-bold">إتفاقية
    إستخدام عميل لموقع دوائي</h4>
  <hr>
  <p style="line-height: 1.8;text-align: justify; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi-1'!important "
    class="fontTitleMobile"><strong> عزيزي العميل الكثير منا قد لا يستطيع الوصول إلى الدواء بسهولة نظراً لعدم توفر الدواء بشكل مناسب في تلك الأيام ومحاولة منا في حل تلك المشكلة يوفر لك موقع دوائي الحصول على روشتتك كاملة أو دواء محدد من أقرب صيدلية لك وكذلك إرسال روشتتك لأكثر من صيدلية للحصول على ما يناسبك بضغطة زر ويصل لك دوائك أينما كنت وللحصول على خدماتنا بشكل مناسب يجب أن تتبع تلك الخطوات</strong></p>
  <div id="accordion">
    <div class="card">
      <div style="padding-bottom:10px;color:whitesmoke;font-family:'Droid-Arabic-Kufi'!important " class="btn btn-primary collapsed "
        data-toggle="collapse" href="#collapseOne2">
        <a>
          الخطوة الأولى
          <i class="fas fa-location-arrow"></i>
        </a>
      </div>
      <div id="collapseOne2" class="collapse" data-parent="#accordion">
        <div style="line-height: 1.8;text-align: justify;padding-top:5px !important; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi'!important "
          class="fontTitleMobile card-body">
          تتمثل تلك الخطوة في تشغيل موقعك الجغرافي من داخل الويندوز إذا كنت تستخدم الكمبيوتر أو اللابتوب وذلك بتشغيله
          من الإعدادات الخاصة بالويندوز و السماح بالحصول على موقعك إذا ظهرت رسالة من الويندوز بمايفيد ذلك كما يمكنك تشغيل موقعك الجغرافي من الموبايل عن طريق تشغيل GPS الخاص بموبايلك
          وتعتبر تلك الخطوة ضرورية حيث أن موقعنا يقوم بالبحث عن أقرب الصيدليات لك بناءاً على موقعك الجغرافي المسجل لدينا كما يساعد الصيدلية في إرسال الدواء لك في مكانك الصحيح إذا أردت خدمة التوصيل من الصيدلية
        </div>
      </div>
    </div>
    <div class="card">
      <div style="padding-bottom:10px;color:whitesmoke;font-family:'Droid-Arabic-Kufi'!important " class="btn btn-primary collapsed "
        data-toggle="collapse" href="#collapseTwo2">
        <a>
          الخطوة الثانية
          <i class="fa fa-address-card" aria-hidden="true"></i>
        </a>
      </div>
      <div id="collapseTwo2" class="collapse" data-parent="#accordion">
        <div style="line-height: 1.8;text-align: justify;padding-top:5px !important; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi'!important "
          class="fontTitleMobile card-body">
            تتمثل تلك الخطوة في إثبات صحة هويتك حيث يتم تسجيل إيميلك الفعلي حتى يتم إرسال رسالة تفعيل لحسابك على إيميلك الفعلي الذي قمت بتسجيله   وبالتالي فيتم تفعيل إشتراكك في الحال وتتمتع بكل خدماتنا بسهولة. نأسف للإطالة ولكن كل تلك الخطوات التي سوف لا تستغرق منكم أكثر من  ثلاث دقائق على أقصى تقدير سوف توفر عليكم الكثير مستقبلا
        </div>
      </div>
    </div>
   
  </div>
</div>