<div id="master" style="display:none;width:90%;margin-top:3%;margin-bottom:1.529%;margin-left:5%;margin-right:5%; background-color:#f3f3f3"
  class="card ">
  <div class="row center ">
    <!-- /////////////Social Login Form ///////////// -->
    <div class="screenMarg mobMargFree col-md-12 col-xs-12 col-lg-6 ">
      <h4 style="color:indigo ;font-family:'Droid-Arabic-Kufi-1'!important " class="fontTitleMobile text-center font-weight-bold">دَاوُوا
        مَرضاكُمْ بِالصَّدقةِ</h4>
      <div class="text-center btn-group-lg ">
        <a (click)="forFreeRegister =false;freeProcess.freeType='request';freeProcess.freeTitle='تسجيل طلب دواء'" style="color:white ;font-family:JF-Flat!important "
          id="facebook" class="btn btn-fb d-inline-block" data-toggle="modal" data-target="#myLogin"><i class="fas fa-hands"></i>
          طلب دواء مجاناً</a><br>
        <a (click)="forFreeRegister =false;freeProcess.freeType='gift';freeProcess.freeTitle='تسجيل تبرع بدواء'" style="color:white ;font-family:JF-Flat!important "
          id="google" class="btn btn-go d-inline-block" data-toggle="modal" data-target="#myLogin"><i class="fas fa-handshake-o"></i>
          تبرع بدواء مجاناً</a><br>
        <a (click)="forFreeRegister =false;freeProcess.freeType='watch';freeProcess.freeTitle='طلبات و تبرعات'" style="color:white ;font-family:JF-Flat!important "
          href="#" data-toggle="modal" data-target="#myLogin" class="btn btn-tw d-inline-block "><i class="fas fa-binoculars "></i>
          طلبات و تبرعات</a>
      </div>
      <br>
      <hr class="d-sm-block d-lg-none">
    </div>

    <!-- /////////////Email/Password Login Form ///////////// -->
    <div [hidden]="!forPayLogin" class="rtl mobMargPay screenMarg col-md-12 col-xs-12 col-lg-6">
      <h4 style="color:indigo;font-family:'Droid-Arabic-Kufi-1'!important " class="fontTitleMobile text-center font-weight-bold">دخول
        صيدلية أو عميل</h4>
      <form class="form" role="form" method="post" accept-charset="UTF-8" id="login">
        <div style="margin-top:20px;" class="form-group">
          <label class="sr-only" for="exampleInputEmail2"></label>
          <input name="email" [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="أدخل بريدك المسجل لدينا"
            required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input name="password" [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="أدخل كلمة السر المسجلة لدينا"
            required>

          <a style="font-family:JF-Flat!important " class="btn btn-link" (click)="forReset=true;forLogin=false;resetEmail='';"><b>نسيت
              كلمة السر؟</b></a>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-primary btn-block"><b>دخـول</b></button>
        </div>
        <!-- <div class="checkbox">
            <label>
              <input type="checkbox"> keep me logged-in
            </label>
          </div> -->
      </form>
      <div>
        <a style="font-family:JF-Flat!important " class=" fontMobile fontScreen btn btn-link" (click)="forPayRegister=true;forPayLogin=false">إذا
          لم تكن مشترك معنا <b> إشترك الآن </b> </a>
      </div>
    </div>
    <!-- /////////////Reset Password ///////////// -->
    <div [hidden]="!forReset" style="padding:30px;" class="aMargin col-md-12 col-xs-12 col-lg-6">
      <h4 class="text-center font-weight-bold">Reset Password</h4>
      <form (submit)="resetPassword()" class="form" role="form" method="post" accept-charset="UTF-8" id="resetPassword">
        <div style="margin-top:20px;" class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input name="email" [(ngModel)]="resetEmail" type="email" class="form-control" id="resetEmail" placeholder="Enter your email address"
            required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-primary btn-block">Reset Password</button>
        </div>
        <!-- <div class="checkbox">
            <label>
              <input type="checkbox"> keep me logged-in
            </label>
          </div> -->
        <a class="btn btn-link" (click)="forRegister=false;forReset=false;forLogin=true"><b>Login </b>If you have
          account</a>
      </form>
      <div *ngIf="canRegister=='true' && forLogin==true">
        <a class="btn btn-link" (click)="forRegister=true;forLogin=false;"><b>Join Us </b>If you are new here</a>
      </div>
    </div>

    <!-- /////////////Payed Register Form ///////////// -->
    <div [hidden]="!forPayRegister" class="rtl mobMargPay screenMarg col-md-12 col-xs-12 col-lg-6">
      <h4 style="color:indigo;font-family:'Droid-Arabic-Kufi-1'!important " class="fontTitleMobile text-center font-weight-bold">إشترك
        في دوائي</h4>

           
        <!--------- Pharmacy or Customer Options ---------->
        <div style="border-radius: 0.25rem;
          border: 1px solid #ced4da;
          padding: 10px;
          width: 100%;
          height: 100px;margin-bottom:15px;margin-top:27px;">
          <h6 style="font-size:18px;font-family:JF-Flat!important;font-weight:bold; ">حدد صلاحية الدخول</h6>
          <div style="padding:10px;">
            <div data-toggle="modal" data-target="#pharmacyNotes" style="width: 40%;" class="badge badge-default">
              <label class="con">
                <input type="radio" id="ph" (change)="payOption='ph';onSelectionChange(payOption)" [checked]="payOption==='ph'"
                  name="radio">
                <label style="font-family:JF-Flat!important;font-size:15px" for="ph">صيدلية</label>
                <span class="checkmark"></span>
              </label>
            </div>
            <div data-toggle="modal" data-target="#customerNotes" style="width: 40%;margin-right:30px;" class="badge badge-default">
              <label class="con">
                <input type="radio" id="cust" (change)="payOption='cust';onSelectionChange(payOption)" [checked]="payOption==='cust'"
                  name="radio">
                <label style="font-family:JF-Flat!important;font-size:15px" for="cust">عميل</label>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          
        </div>
        
        <a style="font-family:JF-Flat!important;" class="fontMobile fontScreen btn btn-link" (click)="forPayRegister=false;forPayLogin=true">يمكنك
          <b> الدخول إلى حسابك</b>
          إذا كنت مسجل لدينا</a>

    </div>
  </div>
</div>

<!-- //////////// Free myLogin Modal ////////////// -->
<div>
  <div class="modal fade" id="myLogin">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div [hidden]="forFreeRegister" style="padding:30px;" class="col-md-12 col-xs-12 col-lg-12">
          <h4 style="color:indigo ;font-family:'Droid-Arabic-Kufi-1'!important" class="fontTitleMobile text-center font-weight-bold">{{freeProcess.freeTitle}}</h4>

          <form class="form" role="form" method="post" accept-charset="UTF-8" id="login">
            <div style="margin-top:20px;" class="form-group">
              <label class="sr-only" for="exampleInputEmail2">أدخل بريدك المسجل لدينا</label>
              <input name="emailFree" [(ngModel)]="emailFree" type="email" class=" rtl form-control" id="email"
                placeholder="أدخل بريدك المسجل لدينا" required>
            </div>
            <div class="rtl form-group">
              <label class="sr-only" for="exampleInputPassword2">أدخل كلمة السر المسجلة لدينا</label>
              <input name="passwordFree" [(ngModel)]="passwordFree" type="password" class="rtl form-control" id="password"
                placeholder="أدخل كلمة السر المسجلة لدينا" required>
              <a style="font-family:Droid-Arabic-Kufi!important " class="btn btn-link" (click)="forReset=true;forLogin=false;resetEmail='';"><b>نسيت
                  كلمة السر ؟ </b></a>
            </div>
            <div class="form-group">
              <button style="font-family:JF-Flat!important " type="submit" class="btn btn-outline-primary btn-block"><b>دخـول</b></button>
            </div>
            <!-- <div class="checkbox">
            <label>
              <input type="checkbox"> keep me logged-in
            </label>
          </div> -->
          </form>
          <div class="rtl">
            <a style="font-size:14px;font-family:Droid-Arabic-Kufi!important " class="fontMobile fontScreen btn btn-link"
              (click)="forFreeRegister=true;">إذا
              لم تكن مشترك معنا <b> إشترك الآن </b> </a>
          </div>
        </div>
        <!-- //////////// Free Register Modal ///////////// -->
        <div [hidden]="!forFreeRegister" style="padding:30px;" class="rtl mobMargPay screenMarg col-md-12 col-xs-12 col-lg-12">
          <h4 style="color:indigo ;font-family:'Droid-Arabic-Kufi-1'!important" class="rtl fontTitleMobile text-center font-weight-bold">إشترك
            في دوائي</h4>

          <form (submit)="onRegister()" class="form" method="post" #Register="ngForm" accept-charset="UTF-8" id="Register">

            <div style="margin-top:20px;" class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <input name="Remail" [(ngModel)]="rEmail" type="email" class="rtl form-control" id="Remail" placeholder="أدخل بريدك وسيتم إرسال رسالة تأكيد لك الأن"
                required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>
              <input #Rpassword="ngModel" name="p1" [(ngModel)]="rPassword" type="password" class="form-control" id="Rpassword"
                placeholder="أدخل كلمة سر" required (keyup)="onChange()">

            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Confirm Password</label>
              <input #Rcpassword="ngModel" [(ngModel)]="rcPassword" name="p2" type="password" class="form-control" id="Rcpassword"
                placeholder="أدخل كلمة السر مرة أخرى" required (keyup)="onChange()">

              <div style="font-family:JF-Flat!important;" *ngIf="(Rcpassword.dirty || Rcpassword.touched) &&(Rcpassword.value!= Rpassword.value)"
                class="alert alert-danger">
                يجب تأكيد كلمة السر
              </div>

            </div>
            <div class="form-group">
              <button style="font-family:JF-Flat!important;" type="submit" class="btn btn-outline-primary btn-block font-weight-bold"
                [disabled]="!Register.form.valid || !equal">إشترك معنا</button>
            </div>
            <a class="fontMobile fontScreen btn btn-link" (click)="forFreeRegister=false;forFreeLogin=true">يمكنك <b>
                الدخول إلى حسابك</b>
              إذا كنت مسجل لدينا</a>
          </form>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button style="font-family:JF-Flat!important " type="button" class="btn btn-danger" data-dismiss="modal">إغلاق
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- //////////// PayedOption Register Modal ////////////// -->
<div>
  <div class="modal fade" id="myPayedLogin">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- //////////// Pharmacy Register Modal ///////////// -->
        

        <!-- //////////// Customer Register Modal ///////////// -->
        <div [hidden]="!forFreeRegister" style="padding:30px;" class="rtl mobMargPay screenMarg col-md-12 col-xs-12 col-lg-12">
          <h4 style="color:indigo ;font-family:'Droid-Arabic-Kufi-1'!important" class="rtl fontTitleMobile text-center font-weight-bold">إشترك
            في دوائي</h4>
          <form (submit)="onRegister()" class="form" method="post" #Register="ngForm" accept-charset="UTF-8" id="Register">
            <div style="margin-top:20px;" class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>

            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>


            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Confirm Password</label>


            </div>
            <div class="form-group">
              <button style="font-family:JF-Flat!important;" type="submit" class="btn btn-outline-primary btn-block font-weight-bold"
                [disabled]="!Register.form.valid || !equal">إشترك معنا</button>
            </div>

          </form>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button style="font-family:JF-Flat!important " type="button" class="btn btn-danger" data-dismiss="modal">إغلاق
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<!---------------- PayedOption Pharmacy Notes ----------------->
<div>
  <div data-keyboard="false" data-backdrop="static" class="modal fade" id="pharmacyNotes">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Body -->
        <app-ph-notes></app-ph-notes>
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="mx-auto">
            <button (click)="payOption=''" style="min-width: 100px; margin-right: 20px; font-family:JF-Flat!important "
              type="button" class="btn btn-danger " data-dismiss="modal">إلغاء
            </button>
            <button (click)="payOption='';" data-toggle="modal" data-target="#phreg" style="min-width: 100px;font-family:JF-Flat!important "
              type="button" class="btn btn-success " data-dismiss="modal">إستمرار
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<!---------------- PayedOption Customers Notes ----------------->
<div>
  <div data-keyboard="false" data-backdrop="static" class="modal hide fade in" id="customerNotes">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Body -->
        <app-cust-notes></app-cust-notes>
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="mx-auto">
            <button (click)="payOption='';" style="min-width: 100px; margin-right: 20px; font-family:JF-Flat!important "
              type="button" class="btn btn-danger " data-dismiss="modal">إلغاء
            </button>
            <button (click)="payOption='';" style="min-width: 100px;font-family:JF-Flat!important " type="button" class="btn btn-success "
              data-dismiss="modal">إستمرار
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>




<!-- ///////////////////phreg///////////// -->

<app-ph-register></app-ph-register>