<div style="padding:5%" class="rtl container">
  <h4 style="padding-bottom:5px;color:#007bff;font-family:'Droid-Arabic-Kufi'!important " class="modal-title fontTitleMobile text-center font-weight-bold">إتفاقية
    إستخدام صيدلي لموقع دوائي</h4>
  <hr>
  <p style="line-height: 1.8;text-align: justify; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi-1'!important "
    class="fontTitleMobile"><strong> عزيزي الصيدلي ليتم الأستفادة الكاملة من موقع دوائي وزيادة عدد العملاء المتعاملين
      مع صيدليتك وزيادة مبيعاتك وهذا ما نتمناه لك في موقع دوائي ولكن لإثبات حسن النوايا وإثبات هوية الصيدلية وصاحبها
      المستخدم لحساب الدخول لدي موقع دوائي فهناك ثلاث خطوات مهمة لك ولنا حتى نؤمن لك بياناتك وتكون بيانات خاصة بك وتزيد
      من متابعة العملاء لصيدليتك وتتمثل الخطوات فيما يلي</strong></p>
  <div id="accordion">
    <div class="card">
      <div style="padding-bottom:10px;color:whitesmoke;font-family:'Droid-Arabic-Kufi'!important " class="btn btn-primary collapsed "
        data-toggle="collapse" href="#collapseOne">
        <a>
          الخطوة الأولى
          <i class="fas fa-location-arrow"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div style="line-height: 1.8;text-align: justify;padding-top:5px !important; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi'!important "
          class="fontTitleMobile card-body">
          تتمثل تلك الخطوة في تشغيل موقعك الجغرافي من داخل الويندوز إذا كنت تستخدم الكمبيوتر أو اللابتوب وذلك بتشغيله
          من الإعدادات الخاصة بالويندوز و السماح بالحصول على موقعك إذا ظهرت رسالة من الويندوز بمايفيد ذلك كما يمكنك تشغيل موقعك الجغرافي من الموبايل عن طريق تشغيل GPS الخاص بموبايلك
          وتعتبر تلك الخطوة ضرورية حيث أن موقعنا يجعل صيدليتك متاحة لأقرب العملاء لك كما يظهر موقع صيدليتك لهم إذا ما
          أرادوا الوصول إليك كما أن تلك الخطوة تجعل صيدليتك متاحة بمواعيد العمل الخاصة بك وذلك من خلال خدمتنا الخاصة
          علي نظام جوجل للخرائط
        </div>
      </div>
    </div>
    <div class="card">
      <div style="padding-bottom:10px;color:whitesmoke;font-family:'Droid-Arabic-Kufi'!important " class="btn btn-primary collapsed "
        data-toggle="collapse" href="#collapseTwo">
        <a>
          الخطوة الثانية
          <i class="fa fa-file-alt" aria-hidden="true"></i>
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div style="line-height: 1.8;text-align: justify;padding-top:5px !important; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi'!important "
          class="fontTitleMobile card-body">
          تتمثل تلك الخطوة في إثبات صحة وجود الصيدلية المرجو فتح حساب لها لدي موقع دوائي وذلك من خلال رفع صورة واضحة
          للسجل التجاري الخاص بالصيدلية حيث تتم مراجعتها من قبل إدارة الموقع وإذا كان سجلا وهمياً أو صورة غير المطلوب
          فسيتم حجب الحساب لدينا ويتم إلغاء جميع الروشتات الموجهة للصيدلية على موقع دوائي فنرجو أخذ الموضوع بجدية حيث
          أن هدفنا الأول هو خدمتكم بدون مقابل فقط إدعو لنا بظهر الغيب
        </div>
      </div>
    </div>
    <div class="card">
      <div style="padding-bottom:10px;color:whitesmoke;font-family:'Droid-Arabic-Kufi'!important " class="btn btn-primary collapsed "
        data-toggle="collapse" href="#collapseThree">
        <a>
          الخطوة الثالثة
          <i class="fa fa-address-card" aria-hidden="true"></i>
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div style="line-height: 1.8;text-align: justify;padding-top:5px !important; padding-bottom:5px;color:rgb(10, 83, 115);font-family:'Droid-Arabic-Kufi'!important "
        class="fontTitleMobile card-body">
         في تلك الخطوة تقوم بتسجيل بيانات صيدليتك حتي تكون متاحة للعملاء من رقم هاتف الصيدلية واسمها وعنوانها ومواعيد عملها . نأسف للإطالة ولكن كل تلك الخطوات التي سوف لا تستغرق منكم أكثر من  خمس دقائق على أقصى تقدير سوف توفر عليكم الكثير مستقبلا وستسهم في زيادة عدد العملاء لصيدليتكم وزيادة مبيعاتكم ... وفقنا الله وإياكم لما هو خير
        </div>
      </div>
    </div>
  </div>
</div>